{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
    <div>
        <h1 style="text-align: center">Car Master</h1>
        {% if tasks|length < 1 %}
        <h4 style="text-align: center">There are no tasks. Create one below!</h4>
        {% else %}
        <table>
            <tr>
                <th>Displacement</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.Displacement }}</td>
                    <td>{{ task.date_created.date() }}</td>
                    <td>
                        <a href="/delete/{{task.id}}">Delete</a>
                        <br>
                        <a href="/update/{{task.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        <div class="form">
            <from action="/displacement" method="POST">
                 <input type="value" name="Displacement" id="Displacement"/>
                 <input type="submit" value="Add Displacement"/>
            </from>

        </div>
    </div>
{% endblock %}