
<!DOCTYPE html>
<html lang="en">

<head>
		<title> MyCar </title>
</head>

<body>
	
	<!-- Its the form where a user can submit his or her name and email -->

	<form class="form-inline" action="" method="POST">
		<label>Cylinders</label>
	  	<input type="number" id="Cylinders" step="1" placeholder="Enter Cylinders" name="Cylinders">
	  	<label>Displacement</label>
        <input type="number" id="Displacement" step="0.1" placeholder="Enter Displacement" name="Displacement">
        <label>Horsepower</label>
        <input type="number" id="Horsepower" step="0.1" placeholder="Enter Horsepower" name="Horsepower">
        <label>Weight</label>
        <input type="number" id="Weight" step="0.1" placeholder="Enter Weight" name="Weight">
        <label>Acceleration</label>
        <input type="number" id="Acceleration" step="0.1" placeholder="Enter Acceleration" name="Acceleration">
        <label>Model_Year</label>
	  	<input type="number" id="Model_Year" step="1" placeholder="Enter Model_Year" name="Model_Year">
        <button type="submit">Submit</button>
	</form>


	<!-- The table where all the data from the DB will be appeared -->

	<table class="data" border="1" style="width: 100%; margin-top: 20px; text-align: center;">
		<tr>
			<th colspan="3">User Data</th>
	  	</tr>
	  	<tr>
	  		<td>Car nº</td>
	    	<td>Cylinders</td>
            <td>Displacement</td>
            <td>Horsepower</td>
            <td>Weight</td>
            <td>Acceleration</td>
            <td>Model_Year</td>
	  	</tr>

	  	<!-- The user_data is a variable containing all the user data from the DB. -->
	  	
	  	{% for user in user_data %}
	  	<tr>
	  		<td>{{user._id}}</td>
	  		<td>{{user.Cylinders}}</td>
            <td>{{user.Displacement}}</td>
            <td>{{user.Horsepower}}</td>
            <td>{{user.Weight}}</td>
            <td>{{user.Acceleration}}</td>
            <td>{{user.Model_Year}}</td>
	  	</tr>
	  	{% endfor %}

	</table>
</body>